USE [master]
GO
/****** Object:  Database [AndBilgeMarketDB]    Script Date: 29/09/2020 21:49:04 ******/
CREATE DATABASE [AndBilgeMarketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AndBilgeMarketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AndBilgeMarketDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AndBilgeMarketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AndBilgeMarketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AndBilgeMarketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AndBilgeMarketDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Baskets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPayments]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPayments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OrderType] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Bank] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.OrderPayments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.OrderProducts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[StatusID] [int] NOT NULL,
	[TotalProductPrice] [decimal](18, 2) NOT NULL,
	[TotalTaxPrice] [decimal](18, 2) NOT NULL,
	[TotalDiscount] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[Brand] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddresses]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddresses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.UserAddresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/09/2020 21:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Telephone] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[TCKN] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Baskets] ON 

INSERT [dbo].[Baskets] ([ID], [UserID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (12, 0, 2, 1, CAST(N'2020-09-28T21:53:34.890' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Baskets] ([ID], [UserID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (19, 0, 1, 1, CAST(N'2020-09-28T21:59:16.490' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Baskets] ([ID], [UserID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (20, 0, 1, 1, CAST(N'2020-09-28T22:48:51.790' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Baskets] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [ParentID], [Name], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, 0, N'Bilgisayar', 1, CAST(N'2010-07-07T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Categories] ([ID], [ParentID], [Name], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, 0, N'Cep Telefonu', 1, CAST(N'2010-07-07T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Categories] ([ID], [ParentID], [Name], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, 0, N'Laptop', 1, CAST(N'2020-09-28T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[OrderProducts] ON 

INSERT [dbo].[OrderProducts] ([ID], [OrderID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, 9, 1, 1, CAST(N'2020-09-28T14:39:10.987' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[OrderProducts] ([ID], [OrderID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, 10, 1, 1, CAST(N'2020-09-28T14:39:58.107' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[OrderProducts] ([ID], [OrderID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, 11, 1, 1, CAST(N'2020-09-28T21:29:45.010' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderProducts] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [UserID], [Address], [StatusID], [TotalProductPrice], [TotalTaxPrice], [TotalDiscount], [TotalPrice], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (9, 3, NULL, 6, CAST(100.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), CAST(N'2020-09-28T14:39:10.987' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[Orders] ([ID], [UserID], [Address], [StatusID], [TotalProductPrice], [TotalTaxPrice], [TotalDiscount], [TotalPrice], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (10, 3, NULL, 2, CAST(100.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), CAST(N'2020-09-28T14:39:58.107' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[Orders] ([ID], [UserID], [Address], [StatusID], [TotalProductPrice], [TotalTaxPrice], [TotalDiscount], [TotalPrice], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (11, 3, NULL, 6, CAST(100.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), CAST(N'2020-09-28T21:29:45.010' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [CategoryID], [Brand], [Model], [ImageUrl], [Description], [Price], [Tax], [Discount], [Stock], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, N'APPLE MHK03TU', 1, N'Apple', N'APPLE MHK03TU/A iMac', N'https://cdn.vatanbilgisayar.com/Upload/PRODUCT/APPLE/thumb/109471_large.jpg', N'APPLE MHK03TU/A iMac INTEL CORE İ5 2.3 GHZ 8 GB 256 GB SSD INTEL  21.5"', CAST(9600.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 10, 1, CAST(N'2010-07-07T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Products] ([ID], [Name], [CategoryID], [Brand], [Model], [ImageUrl], [Description], [Price], [Tax], [Discount], [Stock], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, N'LENOVO', 1, N'Lenovo', N'LENOVO 510S ', N'https://cdn.vatanbilgisayar.com/Upload/PRODUCT/LENOVO/thumb/109335_large.jpg', N'LENOVO 510S CORE İ5 BİLGİSAYAR ve LENOVO 23.8" MONİTÖR', CAST(5200.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 10, 1, CAST(N'2010-07-07T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Products] ([ID], [Name], [CategoryID], [Brand], [Model], [ImageUrl], [Description], [Price], [Tax], [Discount], [Stock], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, N'MSI PRO', 1, N'Msi', N'Macbook Pro', N'https://cdn.vatanbilgisayar.com/Upload/PRODUCT/MSI/thumb/TeoriV2-108882_large.jpg', N'MSI PRO 24X CORE İ7 10510U 1.8 GHZ 16GB 512GB SSD INTEL UHD GRAPHICS WIN10 23.8"', CAST(11000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 15, 1, CAST(N'2020-10-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [Name], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, N'Ödeme Bekliyor', CAST(N'2020-10-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Status] ([ID], [Name], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, N'Ürünler Hazırlanıyor', CAST(N'2020-10-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Status] ([ID], [Name], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (4, N'Kargoda', CAST(N'2020-10-10T00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[UserAddresses] ON 

INSERT [dbo].[UserAddresses] ([ID], [UserID], [Title], [City], [Address], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, 3, N'Ayvalık Ev', N'Balıkesir', N'test', 1, CAST(N'2020-09-28T14:22:36.087' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserAddresses] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [LastName], [Email], [Telephone], [Password], [TCKN], [IsActive], [IsAdmin], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, N'Mertcan', N'Ferligil', N'mferligil@gmail.com', N'123123', N'qwemertcan456', N'123123', 1, 1, CAST(N'2015-10-10T00:00:00.000' AS DateTime), 1, CAST(N'2015-10-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Users] ([ID], [Name], [LastName], [Email], [Telephone], [Password], [TCKN], [IsActive], [IsAdmin], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, N'Mertcan', N'Ferligil', N'mferligil@icloud.com', N'05398668899', N'123', N'41236228738', 1, 0, CAST(N'2020-09-28T14:22:16.550' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_ProductID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[Baskets]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[OrderPayments]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[OrderProducts]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[OrderProducts]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_StatusID] ON [dbo].[Orders]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Orders]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 29/09/2020 21:49:04 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserAddresses]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Baskets_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_dbo.Baskets_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[OrderPayments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderPayments_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderPayments] CHECK CONSTRAINT [FK_dbo.OrderPayments_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderProducts_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_dbo.OrderProducts_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderProducts_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_dbo.OrderProducts_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Status_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Status_StatusID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAddresses_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserAddresses] CHECK CONSTRAINT [FK_dbo.UserAddresses_dbo.Users_UserID]
GO
USE [master]
GO
